.player-container {
    background: #fff;
    margin: 0 auto;
    width: auto;
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;
    z-index: 1;
    cursor: default;
    transform: translateY(-50%);

    &-width {
        max-width: 960px;
    }

    .player-wrapper {
        display: block;
        box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
    }

    @media screen and (min-width: 768px) {
        .player-wrapper {
            height: 540px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .player-wrapper {
            height: 320px;

        }      
    }
}

::ng-deep iframe {
    width: 100%;
    height: 100%;
}