

<nz-tabset nzLinkRouter [nzAnimated]="false" [nzLinkExact]="false">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['/', 'pages', 'qa', 'my']" >Мои вопросы</a>
      <ng-container *ngIf="(question$ | async) as questions">
        <ng-container *ngTemplateOutlet="listQuestions; context: {showAddButton: true, showRemoveButton: true, questions, empty: emptylist, target: 'my'}"></ng-container>
      </ng-container>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['/', 'pages', 'qa', 'all']">Все вопросы</a>
      <ng-container *ngIf="(question$ | async | onlyWithAnaswer) as questions">
        <ng-container *ngTemplateOutlet="listQuestions; context: {showAddButton: false, showRemoveButton: false, questions, empty: rights, target: 'all'}"></ng-container>
      </ng-container>
    </nz-tab>
</nz-tabset>

<ng-template #listQuestions let-showAddButton="showAddButton" let-showRemoveButton="showRemoveButton" let-questions="questions" let-empty="empty" let-target="target">
        <ng-container *ngIf="questions.length > 0; else empty">

        <div *ngIf="showAddButton" nz-row [nzGutter]="[24, 24]" >
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8">
                <button (click)="createQuestion()" nz-button [nzType]="'primary'">Добавить вопрос</button>
            </div>
        </div>

        <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let question of questions" class="qa-list-item">
                <nz-list-item-meta
                    [nzAvatar]="actionPlay">
                    <nz-list-item-meta-description>
                      <p nz-typography nzEllipsis [nzEllipsisRows]="2" class="qa-list-item-description">
                        {{question.question}}
                      </p>
                    </nz-list-item-meta-description>
                </nz-list-item-meta>
                <ul nz-list-item-actions *ngIf="showRemoveButton">
                  <nz-list-item-action><ng-container  *ngTemplateOutlet="actionDelete"></ng-container></nz-list-item-action>
                </ul>
                <ng-template #actionPlay>
                    <ng-container *ngIf="question.url;else noans">

                        <span [ngSwitch]="(question.url | fileExtension)">
                            <a nz-button nzType="default" *ngSwitchCase="'yt'" [routerLink]="['show','video', question.url | ytFromUrl]"><i nz-icon nzType="youtube"></i></a>
                            <a nz-button nzType="default" *ngSwitchDefault [routerLink]="['/pages/qa', {outlets: { primary: [target], popup: ['show', 'answer', question.id]}}]"><i nz-icon nzType="sound"></i></a>
                        </span>
                    </ng-container>
                </ng-template>
                <ng-template #actionDelete>
                    <button nz-button nzType="default"><i nz-icon nzType="delete" (click)="questionDelete(question)"></i></button>
                </ng-template>
            </nz-list-item>
        </nz-list>
        </ng-container>
</ng-template>

<ng-template #emptylist>
    <nz-result nzStatus="info" nzTitle="Задать первый вопрос">
    <div nz-result-extra>
      <p class="info">Здесь можно задать свой вопрос и получить ответ в аудиоформе
      </p>
      <button nz-button nzType="primary" (click)="createQuestion()">Задать</button>
    </div>
  </nz-result>
</ng-template>

<ng-template #rights>
  <nz-list-empty></nz-list-empty>
</ng-template>
<router-outlet></router-outlet>
<ng-template #noans>
  <span nz-tooltip="Нет ответа"><button nz-button nzType="default" disabled><i nz-icon nzType="clock-circle"></i></button></span>
</ng-template>
