.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    -webkit-transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s;

    width: 100%;
    height: 100%;

    cursor: pointer;
    padding: 0 20px;
    background-color: rgba(0,0,0,.6);
    z-index: 999;

    &-close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 3em;
        z-index: 9999999;
    }
}

