p {
    cursor: pointer;
}

button  {
    margin: 0 0.5rem;
}

nz-progress  {
    margin: 0 0.4rem;
}
.toolbar {
    text-align: right;
    a {
        margin: 5px;
    }
}
.task {
    padding: 0.5rem 0;
    .tasks_expander i{
        margin: 0 0.5rem 0 0;
    }
    .aim {
       padding: 0.5rem 1.85rem;
    }
    .task_statistic {
        font-size: 0.5rem;
        padding: 0 0.2rem;
    }

    ::ng-deep .ant-typography {
        margin: 0;
    }
}



.task-container {
    a {
        display: flex;
        align-items: center;
    }
}

.done.invisible {
    display: none;
}

.task
.aim_done-icon {
    margin: 0 0.5rem 0 0.8rem;
}
