<soer-overlay (close)="onClose()">
    <div  class="container container-width">
        <div class="wrapper">
            <nz-result nzStatus="warning" [nzTitle]="message">
                <div nz-result-extra>
                  <a [routerLink]="['/', 'pages', 'pay']" nz-button nzType="primary">Улучшить уровень</a>
                  <button nz-button nzType="primary" (click)="onClose()">Закрыть</button>
                  
                </div>
              </nz-result>
        
        </div>
    </div>
</soer-overlay>
<ng-template #message>
<div class="message">
    <p>Данный контент доступен только на платных подписках.</p>
    <p>Если вы уверены, что доступ должен быть предоставлен напишите письмо на soersoft@gmail.com.</p>
</div>
</ng-template>