
<div class="target_form">
    <nz-steps [nzCurrent]="1">
        <nz-step nzTitle="Выполнено" nzDescription="Определить цель"></nz-step>
        <nz-step nzTitle="Выполняется" nzDescription="Создать цель"></nz-step>
        <nz-step nzTitle="Ожидается" nzDescription="Определить конкретные шаги"></nz-step>
    </nz-steps>
    <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" nzLayout="vertical">
        <nz-form-item>
            <nz-form-control [nzErrorTip]="titleErrorTpl">
                <input nz-input formControlName="title"  placeholder="Обязательное поле" #titleElem />
                <ng-template #titleErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Обязательное поле</ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">Макс. 140 символов</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <nz-textarea-count [nzMaxCharacterCount]="512">
                    <textarea nz-input rows="8" placeholder="После достижения этой цели я смогу..." formControlName="overview"></textarea>
                </nz-textarea-count>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"  [disabled]="!form.valid">Создать цель</button>
        </nz-form-item>
    </form>
</div>