::ng-deep .ant-form-item-control-input,
::ng-deep .ant-form-item-control-input-content {
    height: 100%;
}
.target_form {
    padding: 2em 1em 0 1em;
    height: 100%;
    overflow: auto;
    width: 100%;

    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .title, .footer {
            flex-grow: 0;
        }
        .footer {
            flex-direction: row-reverse;
            button {
                width: 7rem;
            }
        }
        .content {
            flex-grow: 4;
        }

       ::ng-deep textarea {
            height: 100%;
        }
    }
}