<div class="task_form">
    <header>
        <nz-steps [nzCurrent]="2">
            <nz-step nzTitle="Выполнено" nzDescription="Определить цель"></nz-step>
            <nz-step nzTitle="Выполнено" nzDescription="Создать цель"></nz-step>
            <nz-step nzTitle="Выполняется" nzDescription="Определить конкретные шаги"></nz-step>
        </nz-steps> 
    </header>
        <ng-container *ngIf="activeTarget">
            <content>
                <div>
                    <a class="back"
                            nzSize="small"
                            *ngIf="history.length > 0" 
                            (click)="truncateHistory(history.length - 1)"><i nz-icon nzType="arrow-left" nzTheme="outline"></i></a>
                    <h5 class="target-title"
                        nz-typography
                        nzEditable
                        [nzEditTooltip]="null"
                        [(nzContent)]="activeTarget.title"
                        (nzContentChange)="save.emit(target)"></h5>
                    <p class="target-title"
                    nz-typography
                    nzEditable
                    [nzEditTooltip]="null"
                    [(nzContent)]="activeTarget.overview"
                    (nzContentChange)="save.emit(target)"></p>
                </div>
                <nz-divider *ngIf="target.tasks.length > 0"></nz-divider>
                <nz-timeline *ngIf="activeTarget !== undefined && activeTarget.tasks.length > 0">
                    <nz-timeline-item *ngFor="let task of activeTarget.tasks; let ind = index" [nzDot]="task.progress === 100 ? complete : working ">
                        <sr-text-edit *ngIf="editTaskByIndex === ind" [(srText)]="task.title" (ok)="onSaveTask(target, $event)" (cancel)="onCancelEdit($event)"></sr-text-edit>
                        <nz-row *ngIf="editTaskByIndex !== ind">
                            <nz-col nzFlex="1">
                                <p class="task-item">{{task.title}}</p>
                            </nz-col>
                            <nz-col nzFlex="none">
                                <button nz-button
                                    nzType="default"
                                    nzSize="small"
                                    nzShape="circle"
                                    (click)="editTask(ind)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                                <button *ngIf="task.progress === 100 && !task.tasks?.length"
                                    nz-button
                                    nzType="default"
                                    nzSize="small"
                                    nzShape="circle"
                                    (click)="onUndoTask(activeTarget, ind)"><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                                <button nz-button
                                    nzType="default"
                                    nzSize="small"
                                    nzShape="circle"
                                    (click)="onActiveTask(activeTarget, ind)"><i nz-icon nzType="setting" nzTheme="outline"></i></button>
                                <button nzDanger
                                    nz-button
                                    nzType="default"
                                    nzSize="small"
                                    nzShape="circle"
                                    (click)="onDeleteTask(activeTarget, ind)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                            </nz-col>
                        </nz-row>
                    </nz-timeline-item>
                </nz-timeline>
                <nz-divider nzDashed [nzText]="text">
                    <ng-template #text>
                      <button nz-button
                        nzType="default"
                        nzSize="small"
                        nzShape="circle"
                        (click)="createTask(activeTarget)"
                      ><i nz-icon nzType="plus"></i>
                      </button>
                    </ng-template>
                  </nz-divider>
            </content>
            <footer>
                <button nz-button nzType="primary"
                        *ngIf="history.length > 0"
                        (click)="truncateHistory(history.length - 1)">
                        <i nz-icon nzType="arrow-left" nzTheme="outline"></i></button>

                <button *ngIf="history.length === 0" nz-button nzType="primary" (click)="cancel.next(true);">Закрыть</button>
                <button *ngIf="history.length === 0" nz-button nzType="primary" (click)="inTemplate.next(target);">В шаблон</button>
                <button
                    *ngIf="history.length === 0"
                    nz-button nzType="default"  nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="Точно удалить?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="delete.next(target)">
                Удалить</button>
            </footer>
    </ng-container>

</div>

<ng-template #nocontent>Нет данных</ng-template>
<ng-template #dotAddTemplate>
    <i nz-icon nzType="plus" style="font-size: 16px;"></i>
  </ng-template>

<ng-template #complete><i nz-icon nzType="check-circle" nzTheme="outline" style="color: green"></i></ng-template>
<ng-template #working><i nz-icon nzType="info-circle" nzTheme="outline"></i></ng-template>