<h2>Правила</h2>
<p>Данный раздел прездназначен для обмена опытом, вы можете задать любой вопрос, 
    касающийся программирования и профессиональной деятельности.
</p>
<p><b>Важно!</b> Ответ на вопрос не является персональным, он может быть опубликован 
    публично на ютуб канале или подкасте, а так же может быть доступен другим участникам сообщества.</p>

Публикуя свой вопрос, вы соглашаетесь и гарантируете следующее:
<ul>
    <li>Вопрос не содержит информации, нарушающей законодательство РФ</li>
    <li>Вопрос касается профессиональной деятельности и не содержит личной информации, 
        охраняемой федеральным законодательством</li>
    <li>Вопрос и ответ на него могут быть опубликованы публично в сети Интернет, дополнительного согласия на это не требуется</li>
</ul>