<nz-form-item>
    <nz-form-control>
        <input nz-input [(ngModel)]="workbook.question" placeholder="Тема" nzSize="large" />
    </nz-form-control>
</nz-form-item>
<nz-form-item>
    <nz-form-control>
        <div *ngIf="previewFlag;else blocks" style="padding: 1.5em;">
            <markdown *ngFor="let block of workbook.blocks;">{{block.text}}</markdown>
        </div>
    </nz-form-control>
</nz-form-item>


<ng-template #blocks>
    <ng-container *ngFor="let block of this.workbook.blocks; index as bIndex">
        <soer-inline-markdown-block *ngIf="block.type === 'markdown'" [(markdownText)]="block.text"
            [isEdit]="bIndex === editIndex"
            [localIndex]="bIndex"
            (moveDown)="move($event, $event + 1)"
            (moveUp)="move($event, $event - 1)"
            (removeBlock)="removeBlock($event)"
            (addBlock)="addBlockMarkdown($event)">
        </soer-inline-markdown-block>
        
    </ng-container>
</ng-template>