.markdown-block {

    min-height: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid gray;
    background-color: rgb(247, 247, 247);
}
@media screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    .markdown-block {
        margin: 0.2rem 1rem;
    }
}
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .markdown-block {
        margin: 0;
    }
    
}

.row {
    display: flex;
    .info {
        flex-grow: 0;
    }
    .edit {
        flex-basis: 100%;
        glex-grow: 1;
    }
    .help {
        font-size: 0.7rem;
        font-style: italic;
        color: gray;
    }
}