<ng-container *ngIf="(template$ | async) as template">
    <div class="template-form">
        <div class="form-item">
                <input nz-input [value]="template.title"  placeholder="Именование цели" #titleElem />
        </div>
        <div class="form-item">
                <textarea nz-input rows="8" placeholder="Общее описание цели" [value]="template.overview" #overview></textarea>
        </div>
        <div class="form-item">
                <nz-switch [(ngModel)]="isPublic"></nz-switch> Публичный шаблон
        </div>
        <div class="form-item">
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="createTemplate(titleElem, overview, template)">Создать шаблон</button>
        </div>
    </div>
</ng-container>