<div class="warning-message">
    <nz-result
        nzTitle="Не хватает уровня доступа"
        nzStatus="error"
        nzSubTitle="Для того, чтобы просматривать данный раздел необходимо оформить подписку на Patreon."
      >
        <div nz-result-content>
          <div class="desc">
            <h4 nz-title>Уровни подписки:</h4>
            <p nz-paragraph>
                <i nz-icon nzType="check-circle"></i>
                Для доступа к текстовым и групповым материалам - <strong>"Content Donate"</strong>
              </p>
            <p nz-paragraph>
              <i nz-icon nzType="check-circle"></i>
              Для доступа к архитектурным стримам - <strong>"Stream Donate"</strong>
            </p>
            <p nz-paragraph>
              <i nz-icon nzType="check-circle"></i>
              Для доступа к мастерклассам - <strong>"Workshop Donate"</strong>
            </p>
          </div>
        </div>
        <div nz-result-extra>
          <a href="https://www.patreon.com/soersoft" nz-button nzType="primary">Оформить подписку</a>
        </div>
    </nz-result>
</div>