<ng-container *ngIf="!loading;else loggedin">
  
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <h2 class="login-form_title">LOGIN via</h2>
      <button nz-button (click)="oAuthLogin('yandex')" class="login-form-button login-form-margin" [nzType]="'primary'">Yandex</button>
      <button nz-button (click)="oAuthLogin('google')" class="login-form-button login-form-margin" [nzType]="'primary'">Google</button>
      <button nz-button (click)="oAuthLogin('patreon')" class="login-form-button login-form-margin" [nzType]="'primary'">Patreon</button>
    </form>
  </ng-container>
  <ng-template #loggedin>
    <ng-container *ngIf="devJWT$ | async as devJWT">
      <a nz-button [nzType]="'primary'" *ngIf="devJWT !== ''" [href]="'http://localhost:4200/#!/login?skipchecks=true&jwt=' + devJWT">Режим разработчика</a>
    </ng-container>
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </ng-template>