

 <ng-container *ngIf="(templates$ | async)?.items as templates">
        <div class="template-panel">

            <nz-list nzItemLayout="horizontal" [nzLoading]="false">
                <nz-list-item *ngFor="let template of templates">
                  <nz-list-item-meta
                    [nzAvatar]="icon"
                    [nzDescription]="template.title"
                  >
                    <nz-list-item-meta-title>
                      {{template.overview}}
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                    <ul nz-list-item-actions>
                        <nz-list-item-action >
                            <a 
                            nz-button nzType="primary"
                            nz-popconfirm
                            nzPopconfirmTitle="Создать цель на основе шаблона?"
                            nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="onUse(template)">Начать</a>
                        </nz-list-item-action>
                        <nz-list-item-action *ngIf="isEditable">
                            <a 
                            nz-button nzType="default" nzDanger
                                    nz-popconfirm
                                    nzPopconfirmTitle="Точно удалить?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="onDelete(template)">Удалить</a>
                        </nz-list-item-action>
                        
                    </ul>
                </nz-list-item>
            
                <nz-list-empty *ngIf="templates.length === 0"></nz-list-empty>
              </nz-list>            
        </div>
    </ng-container>
 
<ng-template #nocontent>Нет шаблонов</ng-template>
<ng-template #icon><i nz-icon nzType="build" nzTheme="outline"></i></ng-template>