
<div *ngIf="email !== '';else noemail">
    <div class="warning-message">
        <nz-alert *ngIf="role === 'GUEST'" nzType="warning" [nzMessage]="warning"></nz-alert>
        <nz-alert *ngIf="pendingPayment.id" nzType="error" [nzMessage]="pendingPaymentMessage"></nz-alert>
        <nz-alert *ngIf="role !== 'GUEST'" nzType="error" [nzMessage]="roleExistsError"></nz-alert>
    </div>
    <div *ngIf="role === 'GUEST' && !pendingPayment.id" class="gird-layout pricing-blocks">
        <div class="proposal">
          <h1 class="price-label gray-label">Stream</h1>
          <h2><strong>350₽</strong> / 30 дней.</h2>
          <nz-divider></nz-divider>
          <ul class="features-list">
            <li>Календарь</li>
            <li>Вопрос/ответ</li>
            <li>Конспекты</li>
            <li>Архитектурные стримы</li>
          </ul>
          <nz-divider></nz-divider>
          <a (click)="cleanJWT()" href="{{payUrl}}stream/{{email}}" 
            nzSize="large" nz-button nzType="primary">Получить</a>
        </div>
        <div class="proposal">
          <h1 class="price-label blue-label">Workshop</h1>
          <h2><strong>700₽</strong> / 30 дней.</h2>
          <nz-divider></nz-divider>
          <ul class="features-list">
            <li>Календарь</li>
            <li>Вопрос/ответ</li>
            <li>Конспекты</li>
            <li>Архитектурные стримы</li>
            <li>Воркшопы</li>
          </ul>
          <nz-divider></nz-divider>
          <a (click)="cleanJWT()" href="{{payUrl}}workshop/{{email}}" 
            nzSize="large" nz-button nzType="primary">Получить</a>
        </div>
        <div class="proposal">
          <h1 class="price-label red-label">PRO</h1>
          <h2><strong>2500₽</strong> / 30 дней.</h2>
          <nz-divider></nz-divider>
          <ul class="features-list">
            <li>Календарь</li>
            <li>Вопрос/ответ</li>
            <li>Конспекты</li>
            <li>Архитектурные стримы</li>
            <li>Воркшопы</li>
            <li>"Исходники"</li>
          </ul>
          <nz-divider></nz-divider>
          <a (click)="cleanJWT()" href="{{payUrl}}pro/{{email}}" 
            nzSize="large" nz-button nzType="primary">Получить</a>
        </div>
    </div>
</div>

<ng-template #noemail><h1>Ошибка обработки токена JWT обратитесь к администратору. Оплата невозможна.</h1></ng-template>
<ng-template #warning>
    <p><b>Внимание!</b> Подписка будет оформлена на email:&nbsp;<b>{{email}}</b> и привязана к аккаунту, через который вы вошли.</p>
    <p>При смене адреса или типа входа подписка будет недоступна.</p>
    <p><i>Обратите внимание после выбора и оплаты конкретного тарифа, его можно будет изменить только после окончания действия тарифа.</i></p>
</ng-template>

<ng-template #roleExistsError>
    <p><b>Внимание!</b> У вас уже есть подписка {{role}}</p>
    <p>На данный момент возможность апгрейда уже оплаченного уровня не поддерживается.</p>
</ng-template>

<ng-template #pendingPaymentMessage>
  <p>Ранее вы пытались оплатить тариф на сумму {{pendingPayment.amount}} рублей, вы можете <a href="{{payUrl}}stream/{{email}}">продолжить оплату</a> или <a (click)="deletePayment(pendingPayment.id)">удалить</a> информацию о платеже, чтобы выбрать другой тариф. </p>
</ng-template>