.task_form {
    padding: 2em;
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

button {
    margin: 0 0.5rem 0.5rem 0;
}

.task-desc {
    max-width: 30rem;
    width: 100%; 
    margin: 0 1rem 0.5rem 0;
    border-width: 1px;
}

header {
    flex-grow: 1;
    max-height: 5rem;
    height: 5rem;
}

content {
    flex-grow: 1;
    padding: 0.5rem;
    overflow: auto;
}

footer {
    height: 2.5rem;
    max-height: 2.5rem;
    flex-grow: 1;
}